<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alexchantastic.openfinderinterminal</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>14F40E4E-3BFA-4BC6-BEF1-C75EE2979BAF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>64D93652-A335-43E0-A3D3-D8361ACDB53B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>19454925-A80F-4C9F-B508-EC731D98EF53</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ECB24450-D7BC-4C14-809F-793F1B745E0C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>49249E7F-F79C-42D7-A250-CA0583168376</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7DB947D-338E-4987-88D4-1F58A5EDF2F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>54E55D48-631B-4827-960B-8DA6D733D2F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14F40E4E-3BFA-4BC6-BEF1-C75EE2979BAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>518A0A52-8819-4EEE-92CE-25E7A402B195</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>49249E7F-F79C-42D7-A250-CA0583168376</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>64D93652-A335-43E0-A3D3-D8361ACDB53B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FBC9C61C-3BCC-48A0-A9B0-031837BD789C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8B1D07EE-C9E1-4CB8-BBB9-39B83EA5685C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>49249E7F-F79C-42D7-A250-CA0583168376</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ECB24450-D7BC-4C14-809F-793F1B745E0C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54E55D48-631B-4827-960B-8DA6D733D2F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FBC9C61C-3BCC-48A0-A9B0-031837BD789C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7DB947D-338E-4987-88D4-1F58A5EDF2F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alex Chan</string>
	<key>description</key>
	<string>Opens the currently selected or focused Finder folder in Terminal.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open in Terminal</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/directory.is-directory</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>14F40E4E-3BFA-4BC6-BEF1-C75EE2979BAF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/finder.selection</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>FBC9C61C-3BCC-48A0-A9B0-031837BD789C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Is Folder</string>
						<key>uid</key>
						<string>8B1D07EE-C9E1-4CB8-BBB9-39B83EA5685C</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Is Not Folder</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>64D93652-A335-43E0-A3D3-D8361ACDB53B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinterminal</string>
			<key>uid</key>
			<string>A7DB947D-338E-4987-88D4-1F58A5EDF2F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ft</string>
				<key>subtext</key>
				<string>Open the current Finder folder in Terminal</string>
				<key>text</key>
				<string>Open in Terminal</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>19454925-A80F-4C9F-B508-EC731D98EF53</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/finder.selection</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>ECB24450-D7BC-4C14-809F-793F1B745E0C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Selection</string>
						<key>uid</key>
						<string>518A0A52-8819-4EEE-92CE-25E7A402B195</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>No Selection</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>54E55D48-631B-4827-960B-8DA6D733D2F4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/finder.windows.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>49249E7F-F79C-42D7-A250-CA0583168376</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>14F40E4E-3BFA-4BC6-BEF1-C75EE2979BAF</key>
		<dict>
			<key>xpos</key>
			<real>1000</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>19454925-A80F-4C9F-B508-EC731D98EF53</key>
		<dict>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>49249E7F-F79C-42D7-A250-CA0583168376</key>
		<dict>
			<key>xpos</key>
			<real>1355</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>54E55D48-631B-4827-960B-8DA6D733D2F4</key>
		<dict>
			<key>xpos</key>
			<real>815</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>64D93652-A335-43E0-A3D3-D8361ACDB53B</key>
		<dict>
			<key>xpos</key>
			<real>1190</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>A7DB947D-338E-4987-88D4-1F58A5EDF2F5</key>
		<dict>
			<key>xpos</key>
			<real>1605</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>ECB24450-D7BC-4C14-809F-793F1B745E0C</key>
		<dict>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>FBC9C61C-3BCC-48A0-A9B0-031837BD789C</key>
		<dict>
			<key>xpos</key>
			<real>1355</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/alexchantastic/alfred-open-finder-in-terminal-workflow</string>
</dict>
</plist>
